html,body{
margin:0;
overflow:hidden;
touch-action:none;
background:black;
}

canvas{
display:block;
}

#crosshair{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
color:white;
font-size:28px;
font-family:arial;
pointer-events:none;
}