html,body{
margin:0;
overflow:hidden;
background:black;
touch-action:none;
}

canvas{display:block;}

#crosshair{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
color:white;
font-size:28px;
font-family:Arial;
pointer-events:none;
}